<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Student Home</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/thumbnails.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
  <body>
    <%- include('partials/header.ejs')%>
    <main>
      <br><br>
        <h1>Welcome to NoteNest's Professor Home!</h1>
        <hr>
        <h2>Recent notes:</h2>
        <div class="row">
          <% if (files && files.length > 0) { %>
            <% files.forEach((note) => { %>
              <div class="n-column">
                <a href="/notes/preview/<%= note._id %>">
                  <img src="<%= note.thumbnail || '/images/notes_paper.jpg' %>" alt="Note Thumbnail" />
                </a>
                <h3><%= note.filename || "Unknown Name" %></h3>
                <hr>
                <p><small><em><%= note.course || "Unknown Course" %> - <%= note.professor || "Unknown Course" %></em></small></p>
                <p><%= note.description || "No description available." %></p>
              </div>
            <% }); %>
          <% } else { %>
            <p>No files found.</p>
          <% } %>
        </div>

    </main>
  </body>
</html>