<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" gallery="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" gallery="ie=edge">
  <title>Bookmarks</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/thumbnails.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
  <%- include('../partials/header.ejs')%>
  <main>
    <br>
    <h1>Your Bookmarks</h1>
    <% if (notes.length > 0) { %>
      <div class="row">
        <% notes.forEach((note) => { %>
          <div class="n-column">
            <a href="/notes/preview/<%= note._id %>">
              <img src="<%= note.thumbnail || '/images/notes_paper.jpg' %>" />
            </a>
            <h3><%= note.filename %></h3>
            <p><strong><%= note.course %></strong></p>
            <p><strong><%= note.professor %></strong></p>
            <p><%= note.description %></p>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <p style="color: brown;">You haven’t bookmarked any notes yet!</p>
    <% } %>

    </div>

  </main>
</body>

</html>