<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" gallery="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" gallery="ie=edge">
  <title>Profile</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/thumbnails.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
  <%- include('../partials/header.ejs')%>
  <main>
    <br>
    <!-- <div class="title"> -->
      <h1><%= user.firstname + " " + user.lastname %>'s Profile</h1>
      <!-- <button id="byclass">By Class</button> -->
      <!-- <button id="seeall">See All</button> -->
    <!-- </div> -->
    <br><hr><br>
    <h2>You have submitted these notes:</h2>
    <div class="row">

      <% if (files.length) { %>
        <% files.forEach((note) => { %>
          <div class="n-column">
            <a href="/notes/preview/<%= note._id %>">
              <img src="<%= note.thumbnail || '/images/notes_paper.jpg' %>" alt="Note Thumbnail" />
            </a>
            <h3><%= note.filename || "Unknown Name" %></h3>
            <hr>
            <p><small><em><%= note.course || "Unknown Course" %> - <%= note.professor || "Unknown Course" %></em></small></p>
            <p><%= note.description || "No description available." %></p>
          </div>
        <% }); %>
      <% } else { %>
        <br><br>
        <p style="color: brown;">You haven't uploaded anything yet!</p>
      <% } %>
    </div>

  </main>
</body>

</html>